@use "sass:math";

// * Typeface
$typeface-spoka-han-sans-neo: 'SpoqaHanSansNeo', sans-serif;
$typeface-spoka-han-sans-neo-letter-spacing: -0.5px;
$typeface-spoka-han-sans-neo-line-height: 1;

// * Typeface Setting
// Base
$base-font: $typeface-spoka-han-sans-neo;
$base-font-letter-spacing: $typeface-spoka-han-sans-neo-letter-spacing;
$base-font-line-height: $typeface-spoka-han-sans-neo-line-height;
$base-font-typeface: 300 math.div(1.6rem, $base-font-line-height) $base-font;
