// * Component : Form State
$default-form-state-normal: $base-color-grey-5;
$default-form-state-hover: transparent;
$default-form-state-focus: $blue-7;
$default-form-state-active: $teal-7;
$default-form-state-disabled: $grey-3;
$default-form-state-read-only: initial;
$default-form-state-valid: $green-7;
$default-form-state-invalid: $red-7;

// * Component : Button
$default-button-font: revert;
$default-button-font-size: 1.6rem;
$default-button-padding: point(2) point(4);
// $default-button-min-height: 4rem;
$default-button-line-height: 2rem;
$default-button-border-width: 1px;
$default-button-border-style: solid;
$default-button-border-color: $color-main;
$default-button-border-radius: 0.5rem;
$default-button-background-color: $color-main;
$default-button-box-shadow: revert;
$default-button-color: black;

// * Component : Input
$default-input-font-size: 1.6rem;
$default-input-padding: point(2) point(4);
$default-input-min-height: 4rem;
$default-input-line-height: 1;
$default-input-border-width: 1px;
$default-input-border-style: solid;
$default-input-border-color: $base-color-black;
$default-input-border-radius: 0.5rem;
$default-input-background-color: $white;
$default-input-placeholer-color: $base-color-grey-7;
$default-input-color: $base-color-black;

// * Component : Checkbox
$default-input-checkbox-font-size: 1.6rem;
$default-input-checkbox-size: 2rem;
$default-input-checkbox-color: $color-main;

// * Component : Radio
$default-input-radio-font-size: 1.6rem;
$default-input-radio-size: 2rem;
$default-input-radio-color: $color-main;
