<!DOCTYPE html>
<html lang="ko">
<head>
  {{> ../partials/meta}}
  {{> ../partials/script}}
  <script src="js/home.js"></script>
  {{> ../partials/link}}
  <title>Home</title>
</head>
<body class="page-home" data-scroll-container>
  {{> ../partials/header}}
  <div class="content" id="content"></div>
  </div>
  {{> ../partials/footer}}
</body>
</html>
