<!DOCTYPE html>
<html lang="ko">
<head>
  {{> ../partials/meta}}
  {{> ../partials/link}}
  {{> ../partials/guide}}
  {{> ../partials/script}}
  <link rel="stylesheet" href="styles/guide.css">
  <title>Module</title>
</head>
<body class="page-guide">
  <header class="header">
    <h1 class="header__title">Module</h1>
    <div class="btn-wrap">
      <a href="codingList.html" class="button">List</a>
      <a href="foundation.html" class="button">Foundation</a>
    </div>
  </header>
  <div class="content">
  </div>
</body>
</html>
