<!DOCTYPE html>
<html lang="ko">
<head>
  {{> ../partials/meta}}
  {{> ../partials/script}}
  <script src="js/home.js"></script>
  {{> ../partials/link}}
  <title>Document</title>
</head>
<body class="page-home">
  {{> ../partials/header}}
  <!-- This is a recreation of Unfold's (https://dribbble.com/unfold) parallax scene: https://cdn.dribbble.com/users/14268/screenshots/3275340/northface.gif -->
  <div class="content" id="content">
    <section class="section section-main-visual pb-0">
      <div class="scrollDist"></div>
      <div class="main">
        <svg viewBox="0 0 1200 800" xmlns="http://www.w3.org/2000/svg">
          <mask id="m">
            <g class="cloud1">
              <rect fill="#fff" width="100%" height="801" y="799" />
              <image xlink:href="https://assets.codepen.io/721952/cloud1Mask.jpg" width="1200" height="800"/>
            </g>
          </mask>

          <image class="sky" xlink:href="https://assets.codepen.io/721952/sky.jpg"  width="1200" height="590" />
          <image class="mountBg" xlink:href="https://assets.codepen.io/721952/mountBg.png" width="1200" height="800"/>
          <image class="mountMg" xlink:href="https://assets.codepen.io/721952/mountMg.png" width="1200" height="800"/>
          <image class="cloud2" xlink:href="https://assets.codepen.io/721952/cloud2.png" width="1200" height="800"/>
          <image class="mountFg" xlink:href="https://assets.codepen.io/721952/mountFg.png" width="1200" height="800"/>
          <image class="cloud1" xlink:href="https://assets.codepen.io/721952/cloud1.png" width="1200" height="800"/>
          <image class="cloud3" xlink:href="https://assets.codepen.io/721952/cloud3.png" width="1200" height="800"/>
          <polyline class="arrow" fill="#fff" points="599,250 599,289 590,279 590,282 600,292 610,282 610,279 601,289 601,250" />

          <g mask="url(#m)">
            <rect fill="#fff" width="100%" height="100%" />
          </g>

          <rect id="arrowBtn" width="100" height="100" opacity="0" x="550" y="220" style="cursor:pointer"/>
        </svg>
      </div>
    </section>
    <section class="section section-navigation pt-0">
      <div class="section-inner">
        <div class="container">
        <h2 class="section__title">자주 찾는 메뉴</h2>
          <nav class="nav">
            <a href="" class="nav__list anchor">
              <span class="img"></span>
              <span class="txt font-heading-3">온라인 예매</span>
            </a>
            <a href="" class="nav__list anchor">
              <span class="img"></span>
              <span class="txt font-heading-3">모노레일</span>
            </a>
            <a href="" class="nav__list anchor">
              <span class="img"></span>
              <span class="txt font-heading-3">공지사항</span>
            </a>
            <a href="" class="nav__list anchor">
              <span class="img"></span>
              <span class="txt font-heading-3">이용안내</span>
            </a>
            <a href="" class="nav__list anchor">
              <span class="img"></span>
              <span class="txt font-heading-3">가이드맵</span>
            </a>
            <a href="" class="nav__list anchor">
              <span class="img"></span>
              <span class="txt font-heading-3">지금 화담숲</span>
            </a>
          </nav>
        </div>
      </div>
    </section>
    <div class="img-holder" data-image="https://post-phinf.pstatic.net/MjAxOTA0MDFfMjcy/MDAxNTU0MDgzMTE1MDE5.iAjEePf1XBvuQjY0xXvuFnpGzpNoRwi00PpvRc84-jQg.ITnpdK1zXeIPOoZYZ3Hlss1ODzUGFNKM9lufRVUQ4L8g.JPEG/lukasz-szmigiel-11413-unsplash.jpg" data-cover-ratio="0.4"></div>
    <section class="section section-monorail">
      <div class="section-inner">
        <div class="container">
        <h2 class="section__title">모노레일 잔여 수량</h2>
          <p class="font-heading-3">금일은 휴원일입니다.</p>
        </div>
      </div>
    </section>
    <div class="img-holder" data-image="https://post-phinf.pstatic.net/MjAxOTA0MDFfMjcy/MDAxNTU0MDgzMTE1MDE5.iAjEePf1XBvuQjY0xXvuFnpGzpNoRwi00PpvRc84-jQg.ITnpdK1zXeIPOoZYZ3Hlss1ODzUGFNKM9lufRVUQ4L8g.JPEG/lukasz-szmigiel-11413-unsplash.jpg" data-cover-ratio="0.4"></div>
    <section class="section section-others">
      <div class="section-inner">
        <div class="container">
          <div class="item__list-wrap">
            <div class="item__list">
              <img src="https://www.hwadamsup.com/images/main/img-main-seasonVideo.jpg" class="img" alt="">
              <div class="txt-wrap">
                <h2 class="font-heading-1">계절 영상</h2>
                <p class="font-heading-3">랜선으로 만나는 화담숲</p>
                <p class="font-heading-4">영상을 통해 사계절마다 변하는 정취를 느껴보세요.</p>
              </div>
            </div>
            <div class="item__list">
              <div class="txt-wrap">
                <h2 class="font-heading-1">이벤트</h2>
                <p class="font-heading-3">화담숲 200% 즐기기</p>
                <p class="font-heading-4">다양한 이벤트와 프로그램을 만나보세요.</p>
              </div>
              <img src="https://www.hwadamsup.com/images/main/img-main-event.jpg" class="img" alt="">
            </div>
            <div class="item__list">
              <img src="https://www.hwadamsup.com/images/main/img-main-guide.jpg" class="img" alt="">
              <div class="txt-wrap">
                <h2 class="font-heading-1">이달의 이용 안내</h2>
                <p class="font-heading-3">화담숲 100% 사전 예약제 운영</p>
                <p class="font-heading-4">티켓 발권 없이 전송된 QR코드로 편리하게 입장하세요.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    </div>
  </div>
  {{> ../partials/footer}}
</body>
</html>
