<!DOCTYPE html>
<html lang="ko">
<head>
  {{> ../partials/meta}}
  <title>Document</title>
</head>
<body>
  <p>{{htmlWebpackPlugin.options.title}}</p>
  <img class="img" src="assets/images/monalisa.png" alt="">
  {{> ../partials/footer}}
</body>
</html>
