<!DOCTYPE html>
<html lang="ko">
<head>
  {{> ../partials/meta}}
  {{> ../partials/script}}
  {{> ../partials/link}}
  <title>Document</title>
</head>
<body>
  <p>서브 페이지3</p>
  {{> ../partials/footer}}
</body>
</html>
