.token-button {
  font: 300 24px/100% Spoqa Han Sans Neo;
  min-height: 64px;
  padding: 0.8rem 1.6rem;
  line-height: 2rem;
  background-color: #574538;
  border: 1px solid #574538;
  -webkit-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.4);
  border-radius: 16px;
  border-color: #574538;
  color: white;
}

.layer-popup-area {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 0;
}

.layer-popup {
  position: absolute;
  z-index: 100;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  background-color: #fff;
  border-radius: 8px;
  -webkit-box-shadow: 0px 3px 8px #574538;
          box-shadow: 0px 3px 8px #574538;
}
.layer-popup .layer-popup__btn-wrap {
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 4.8rem;
  padding: 16px;
  background-color: #574538;
}
.layer-popup .layer-popup__btn-day-close {
  color: #fff;
  font-size: 1.6rem;
}
.layer-popup .layer-popup__btn-close {
  width: 16px;
  height: 16px;
  background-color: #574538;
  background-image: url("../assets/images/btn-layer-close-white.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.layer-popup .popup-swiper {
  height: calc(100% - 4.8rem);
}
.layer-popup .popup-swiper .swiper-slide {
  opacity: 1 !important;
}
.layer-popup .popup-swiper .swiper-slide img {
  width: 100%;
  height: 100%;
}
.layer-popup .popup-swiper .swiper-pagination {
  bottom: 50px;
}
.layer-popup .popup-swiper .swiper-pagination .swiper-pagination-bullet {
  background-color: #9b9d91;
}
.layer-popup .popup-swiper .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #574538;
}

.accordion {
  margin: 0 auto;
  border-radius: 5px;
  width: auto;
}

.accordion__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
  background: white;
  padding: 0.8rem 1.6rem;
  min-height: 5.6rem;
  color: #1a1a1a;
}

.accordion__title {
  width: 100%;
  color: #1a1a1a;
}

.accordion__body {
  display: none;
  background: #fcfcfc;
  color: #353535;
}

.accordion__item {
  position: relative;
  border-bottom: 1px solid #ececec;
}
.accordion__item > .accordion__header:after {
  position: relative;
  float: right;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  background-image: url("../assets/images/btn-chevron.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 1.6rem;
  height: 1.6rem;
  content: "";
}

.accordion__icon {
  position: absolute;
  top: 1.6rem;
  left: 0.8rem;
}

.accordion__icon + .accordion__header {
  margin-left: 4rem;
  padding: 0.8rem 1.6rem 0.8rem 0;
}

.accordion__item.active:last-child .accordion__header {
  border-radius: none;
}
.accordion__item.active > .accordion__header:after {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.tablist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.tablist[data-type=underline] {
  margin-bottom: 3.2rem;
}
.tablist[data-type=underline] .tab {
  cursor: pointer;
  background-color: white;
  padding: 0.8rem 0;
  font-weight: 300;
  font-size: 2rem;
}
.tablist[data-type=underline] .tab:not(:first-of-type) {
  margin-left: 2.4rem;
}
.tablist[data-type=underline] .tab.active {
  border-bottom: 3px solid #1a1a1a;
  font-weight: 700;
}

.tabpanel-wrap .tabpanel {
  display: none;
}
.tabpanel-wrap .tabpanel.active {
  display: block;
}/*# sourceMappingURL=component.css.map */