.page-guide {
  padding-top: 8rem;
}
.page-guide .header {
  z-index: 1;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 8rem;
  padding: 0 2.4rem;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
}
.page-guide .header .header__title {
  font-size: 2rem;
  font-weight: 900;
}
.page-guide .header .btn-wrap {
  color: white;
}
.page-guide .section {
  padding: 2rem 0;
  overflow: hidden;
}
.page-guide .section .section__header {
  width: 100%;
  display: flex;
  align-items: flex-end;
  margin-bottom: 0.8rem;
  padding-bottom: 0.8rem;
}
.page-guide .section .section__title {
  margin-right: 0.8rem;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1;
}
.page-guide .section .section__subtitle {
  margin-bottom: 0.4rem;
  padding-bottom: 0.4rem;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1;
}
.page-guide .section .section__desc {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;
}
.page-guide .section-grid .grid {
  text-align: center;
}
.page-guide .section-color .color-wrap {
  display: flex;
  width: 100%;
}
.page-guide .section-color .color {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 10rem;
  height: 10rem;
  border-radius: 0.8rem;
  margin: 0.8rem;
  border: 1px solid #f8f8f8;
}
.page-guide .section-color .color.color-grayscale:nth-child(1) {
  background-color: #ffffff;
}
.page-guide .section-color .color.color-grayscale:nth-child(2) {
  background-color: #f8f8f8;
}
.page-guide .section-color .color.color-grayscale:nth-child(3) {
  background-color: #e8e8e8;
}
.page-guide .section-color .color.color-grayscale:nth-child(4) {
  background-color: #d9d9d9;
}
.page-guide .section-color .color.color-grayscale:nth-child(5) {
  background-color: #cccccc;
}
.page-guide .section-color .color.color-grayscale:nth-child(6) {
  color: white;
  background-color: #9d9d9d;
}
.page-guide .section-color .color.color-grayscale:nth-child(7) {
  color: white;
  background-color: #6c6c6c;
}
.page-guide .section-color .color.color-grayscale:nth-child(8) {
  color: white;
  background-color: #3c3c3c;
}
.page-guide .section-color .color.color-grayscale:nth-child(9) {
  color: white;
  background-color: #1a1a1a;
}
.page-guide .section-color .color.color-grayscale:nth-child(10) {
  color: white;
  background-color: #1a1a1a;
}
.page-guide .section-color .color.color-primary.color-main {
  background-color: #574538;
}
.page-guide .section-color .color.color-primary.color-sub {
  background-color: #EBE4CC;
}
.page-guide .section-color .color.color-status {
  background-color: #D25C27;
}
.page-guide .section-spacing .spacing-wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  width: 100%;
}
.page-guide .section-spacing .spacing {
  position: relative;
  background-color: #574538;
}
.page-guide .section-spacing .spacing + .spacing {
  margin-left: 1.6rem;
}
.page-guide .section-spacing .spacing::before {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.page-guide .section-spacing .spacing:nth-child(1) {
  width: 0.4rem;
  height: 0.4rem;
}
.page-guide .section-spacing .spacing:nth-child(1)::before {
  content: "1";
}
.page-guide .section-spacing .spacing:nth-child(2) {
  width: 0.8rem;
  height: 0.8rem;
}
.page-guide .section-spacing .spacing:nth-child(2)::before {
  content: "2";
}
.page-guide .section-spacing .spacing:nth-child(3) {
  width: 1.2rem;
  height: 1.2rem;
}
.page-guide .section-spacing .spacing:nth-child(3)::before {
  content: "3";
}
.page-guide .section-spacing .spacing:nth-child(4) {
  width: 1.6rem;
  height: 1.6rem;
}
.page-guide .section-spacing .spacing:nth-child(4)::before {
  content: "4";
}
.page-guide .section-spacing .spacing:nth-child(5) {
  width: 2rem;
  height: 2rem;
}
.page-guide .section-spacing .spacing:nth-child(5)::before {
  content: "5";
}
.page-guide .section-spacing .spacing:nth-child(6) {
  width: 2.4rem;
  height: 2.4rem;
}
.page-guide .section-spacing .spacing:nth-child(6)::before {
  content: "6";
}
.page-guide .section-spacing .spacing:nth-child(7) {
  width: 2.8rem;
  height: 2.8rem;
}
.page-guide .section-spacing .spacing:nth-child(7)::before {
  content: "7";
}
.page-guide .section-spacing .spacing:nth-child(8) {
  width: 3.2rem;
  height: 3.2rem;
}
.page-guide .section-spacing .spacing:nth-child(8)::before {
  content: "8";
}
.page-guide .section-spacing .spacing:nth-child(9) {
  width: 3.6rem;
  height: 3.6rem;
}
.page-guide .section-spacing .spacing:nth-child(9)::before {
  content: "9";
}
.page-guide .section-spacing .spacing:nth-child(10) {
  width: 4rem;
  height: 4rem;
}
.page-guide .section-spacing .spacing:nth-child(10)::before {
  content: "10";
}
.page-guide .section-spacing .spacing:nth-child(11) {
  width: 4.4rem;
  height: 4.4rem;
}
.page-guide .section-spacing .spacing:nth-child(11)::before {
  content: "11";
}
.page-guide .section-spacing .spacing:nth-child(12) {
  width: 4.8rem;
  height: 4.8rem;
}
.page-guide .section-spacing .spacing:nth-child(12)::before {
  content: "12";
}
.page-guide .section-spacing .spacing:nth-child(13) {
  width: 5.2rem;
  height: 5.2rem;
}
.page-guide .section-spacing .spacing:nth-child(13)::before {
  content: "13";
}
.page-guide .section-spacing .spacing:nth-child(14) {
  width: 5.6rem;
  height: 5.6rem;
}
.page-guide .section-spacing .spacing:nth-child(14)::before {
  content: "14";
}
.page-guide .section-spacing .spacing:nth-child(15) {
  width: 6rem;
  height: 6rem;
}
.page-guide .section-spacing .spacing:nth-child(15)::before {
  content: "15";
}
.page-guide .section-spacing .spacing:nth-child(16) {
  width: 6.4rem;
  height: 6.4rem;
}
.page-guide .section-spacing .spacing:nth-child(16)::before {
  content: "16";
}
.page-guide .section-spacing .spacing:nth-child(17) {
  width: 6.8rem;
  height: 6.8rem;
}
.page-guide .section-spacing .spacing:nth-child(17)::before {
  content: "17";
}
.page-guide .section-spacing .spacing:nth-child(18) {
  width: 7.2rem;
  height: 7.2rem;
}
.page-guide .section-spacing .spacing:nth-child(18)::before {
  content: "18";
}
.page-guide .section-spacing .spacing:nth-child(19) {
  width: 7.6rem;
  height: 7.6rem;
}
.page-guide .section-spacing .spacing:nth-child(19)::before {
  content: "19";
}
.page-guide .section-spacing .spacing:nth-child(20) {
  width: 8rem;
  height: 8rem;
}
.page-guide .section-spacing .spacing:nth-child(20)::before {
  content: "20";
}
.page-guide .section-typeface .typeface {
  display: flex;
  flex-wrap: nowrap;
}
.page-guide .section-typeface .typeface + .typeface {
  margin-top: 2rem;
}
.page-guide .section-typeface .typeface .item {
  width: 25%;
  padding: 0.8rem;
  border: 1px solid #e8e8e8;
  font-size: 2.4rem;
}
.page-guide .section-typeface .typeface .item + .item {
  border-left: 0;
}
.page-guide .section-typeface .typeface .item:nth-child(1) {
  font-weight: 100;
}
.page-guide .section-typeface .typeface .item:nth-child(2) {
  font-weight: 300;
}
.page-guide .section-typeface .typeface .item:nth-child(3) {
  font-weight: 500;
}
.page-guide .section-typeface .typeface .item:nth-child(4) {
  font-weight: 700;
}
.page-guide .section-typeface .typeface .item:nth-child(5) {
  font-weight: 900;
}
.page-guide .section-typeface .font-wrap {
  margin-top: 4rem;
  display: flex;
}
.page-guide .section-typeface .font-wrap .font:not(:first-child) {
  margin-left: 3.2rem;
}

.section-input .input-wrap {
  display: flex;
  align-items: center;
}
.section-input .input-wrap label {
  width: 100px;
}
.section-input .input-wrap:not(:first-child) {
  margin-top: 0.8rem;
}/*# sourceMappingURL=guide.css.map */