@import './core/core.scss';

// * 서브 페이지 공통
.page-sub {

}

// * 홈
.page-home {
  .section {
    padding: $spacing-20 0;
  }

  .section__title {
    @include font-heading-1;
    margin-bottom: $spacing-12;
    font-weight: 700;
    text-align: center;
  }

  .section-main-visual {
    height: 100vh;

    .scrollDist {
      position: fixed;
      z-index: -1;
    }

    .main {
      position: absolute;
    }

    .cloud2 {
      animation: side 100s ease-in-out infinite;
      @keyframes side {
        20%,
        60%,
        100% {
          transform: matrix(1, 0, 0, 1, -100, -150);
        }
        40%,
        80% {
          transform: matrix(1, 0, 0, 1, 0, -150);
        }
      }
    }
    .cloud3 {
      animation: side2 100s ease-in-out infinite;
      @keyframes side2 {
        20%,
        60%,
        100% {
          transform: matrix(1, 0, 0, 1, 100, -50);
        }
        40%,
        80% {
          transform: matrix(1, 0, 0, 1, 0, -50);
        }
      }
    }
  }

  .section-navigation {
    position: relative;
    .nav {
      @include row;

      .nav__list {
        @include col(2);
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .img {
          display: block;
          width: 16rem;
          height: 16rem;
          margin-bottom: $spacing-4;
          background-color: $color-main;
          border-radius: 100%;
        }
      }
    }
  }

  .section-monorail {
    text-align: center;
  }

  .section-others {
    .item__list-wrap {
      display: flex;
      flex-direction: column;

      .item__list {
        position: relative;
        display: flex;
        &:not(:first-child) {
          margin-top: $spacing-16;
        }

        &:nth-child(2) {
          justify-content: flex-end;
        }

        .txt-wrap {
          padding: 0 $spacing-8;
        }
      }
    }
  }
}

// * 소개
.page-introduce {
  .section-visual {
    @include background('http://via.placeholder.com/1280x480');
    @include ratio(bronze);

    .part {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);

      .section__title {
        margin-bottom: $spacing-4;
      }
    }
  }

  .section-introduce {
    .part {
      &:not(:first-of-type) {
        margin-top: $spacing-20;
      }
    }

    [class*="title"] {
      margin-bottom: $spacing-8;
    }

    .part-sub {
      .txt {
        margin-bottom: $spacing-4;
      }
    }
  }
}
