@import './core/core.scss';
@import './core/common.scss';
@import './grid.scss';
@import './component.scss';
@import './utility.scss';
@import './variable.scss';
@import './module.scss';
@import './page.scss';

// * tag setting
*:focus {
  outline: 1px dotted #212121;
  outline: 3px auto -webkit-focus-ring-color;
}

img {
  @include rwd-img;
}

// * Layout
.wrapper {
  max-width: $inner-width;
  margin: 0 auto;
}

.section {
  position: relative;
}

.layout-container {
  max-width: $inner-width;
  margin: 0 auto;

  &-full {
    max-width: 100%;
  }
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: z(header);
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 8rem;
  background-color: white;

  .header-inner {
    width: 128rem;
    margin: 0 auto;
  }

  .header__logo {
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 10;
    padding: 0 2.4rem;
    font-weight: 900;
    font-size: 2rem;
    transform: translateY(-50%);
  }

  .header__util {
  }

  .header__nav {
    position: relative;
    top: 0;
    right: 0;
    width: 128rem;
    display: flex;
    justify-content: center;
    height: 8rem;
    margin-left: auto;

    a:hover,
    a:focus,
    a:active {
      filter: brightness(3);
    }
  }

  .header__menu {
    position: absolute;
    top: 3rem;
  }

  .header__menu__list-wrap {
    position: relative;
    display: flex;
    align-items: center;
    height: 8rem;
    overflow: hidden;
    transition: 0.3s ease-in-out;

    &::before {
      top: 0;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 8rem;
      background-color: white;
      box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
      transition: 0.3s ease-in-out;
      @include pseudo($pos: fixed);
    }

    &:hover,
    &.focus,
    &:focus {
      height: 30rem;
      &::before {
        height: 30rem;
      }
    }

    .header__menu__list {
      display: flex;
      align-items: center;
      width: 12rem;
      overflow: hidden;
    }
  }

  .header__submenu-wrap {
    position: absolute;
    top: 10rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .header__submenu__list {
      display: flex;
      flex-direction: column;
      width: 12rem;
      &:not(:first-child) {
        margin-top: 2.4rem;
      }
    }
  }
}

#footer {
  height: 24rem;
  padding: $spacing-20 0;
  color: white;
  background-color: #fff;
  background-color: $color-main;
}

// * Content
#content {
  position: relative;
  padding-top: $header-height;
  padding-bottom: $spacing-20;
}
