@font-face {
  font-family: "SpoqaHanSansNeo";
  src: url(../assets/fonts/SpoqaHanSansNeo-Bold..eot);
  src: local("SpoqaHanSansNeo"), local("SpoqaHanSansNeo"), local("SpoqaHanSansNeo"), url(../assets/fonts/SpoqaHanSansNeo-Bold..eot?#iefix) format("embedded-opentype"), url(../assets/fonts/SpoqaHanSansNeo-Bold..woff2) format("woff2"), url(../assets/fonts/SpoqaHanSansNeo-Bold..woff) format("woff"), url(../assets/fonts/SpoqaHanSansNeo-Bold..ttf) format("truetype");
  font-style: normal;
  font-weight: 900;
}
@font-face {
  font-family: "SpoqaHanSansNeo";
  src: url(../assets/fonts/SpoqaHanSansNeo-Medium..eot);
  src: local("SpoqaHanSansNeo"), local("SpoqaHanSansNeo"), local("SpoqaHanSansNeo"), url(../assets/fonts/SpoqaHanSansNeo-Medium..eot?#iefix) format("embedded-opentype"), url(../assets/fonts/SpoqaHanSansNeo-Medium..woff2) format("woff2"), url(../assets/fonts/SpoqaHanSansNeo-Medium..woff) format("woff"), url(../assets/fonts/SpoqaHanSansNeo-Medium..ttf) format("truetype");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "SpoqaHanSansNeo";
  src: url(../assets/fonts/SpoqaHanSansNeo-Regular..eot);
  src: local("SpoqaHanSansNeo"), local("SpoqaHanSansNeo"), local("SpoqaHanSansNeo"), url(../assets/fonts/SpoqaHanSansNeo-Regular..eot?#iefix) format("embedded-opentype"), url(../assets/fonts/SpoqaHanSansNeo-Regular..woff2) format("woff2"), url(../assets/fonts/SpoqaHanSansNeo-Regular..woff) format("woff"), url(../assets/fonts/SpoqaHanSansNeo-Regular..ttf) format("truetype");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "SpoqaHanSansNeo";
  src: url(../assets/fonts/SpoqaHanSansNeo-Light..eot);
  src: local("SpoqaHanSansNeo"), local("SpoqaHanSansNeo"), local("SpoqaHanSansNeo"), url(../assets/fonts/SpoqaHanSansNeo-Light..eot?#iefix) format("embedded-opentype"), url(../assets/fonts/SpoqaHanSansNeo-Light..woff2) format("woff2"), url(../assets/fonts/SpoqaHanSansNeo-Light..woff) format("woff"), url(../assets/fonts/SpoqaHanSansNeo-Light..ttf) format("truetype");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "SpoqaHanSansNeo";
  src: url(../assets/fonts/SpoqaHanSansNeo-Thin..eot);
  src: local("SpoqaHanSansNeo"), local("SpoqaHanSansNeo"), local("SpoqaHanSansNeo"), url(../assets/fonts/SpoqaHanSansNeo-Thin..eot?#iefix) format("embedded-opentype"), url(../assets/fonts/SpoqaHanSansNeo-Thin..woff2) format("woff2"), url(../assets/fonts/SpoqaHanSansNeo-Thin..woff) format("woff"), url(../assets/fonts/SpoqaHanSansNeo-Thin..ttf) format("truetype");
  font-style: normal;
  font-weight: 100;
}
@font-face {
  font-family: "LGSmHa";
  src: url(../assets/fonts/LGSmHaB..eot);
  src: local("LGSmHa"), local("LGSmHa"), local("LGSmHa"), url(../assets/fonts/LGSmHaB..eot?#iefix) format("embedded-opentype"), url(../assets/fonts/LGSmHaB..woff2) format("woff2"), url(../assets/fonts/LGSmHaB..woff) format("woff"), url(../assets/fonts/LGSmHaB..ttf) format("truetype");
  font-style: normal;
  font-weight: 900;
}
