.page-codinglist {
  margin: 0;
}
.page-codinglist header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  width: 100%;
  min-height: 80px;
  color: black;
  background-color: white;
  -webkit-box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
}
@media (max-width: 767px) {
  .page-codinglist header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
.page-codinglist header h1 {
  margin: 0;
  padding: 24px;
  font-weight: 800;
  font-size: 24px;
}
@media (max-width: 767px) {
  .page-codinglist header h1 {
    padding: 16px;
    font-size: 16px;
  }
}
.page-codinglist header a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 40px;
  padding: 0 16px;
  color: black;
  color: #fff;
  font: revert;
  text-decoration: none;
  background-color: black;
  border: 1px solid black;
  border-radius: 5px;
  -webkit-box-shadow: revert;
          box-shadow: revert;
}
@media (max-width: 767px) {
  .page-codinglist header a {
    min-height: 30px;
    margin-right: 10px;
    padding: 0 8px;
    font-size: 14px;
  }
}
.page-codinglist header .guide-list-wrap {
  padding-right: 24px;
}
@media (max-width: 767px) {
  .page-codinglist header .guide-list-wrap {
    padding: 0 16px 16px 16px;
  }
}
.page-codinglist .main {
  margin-top: 80px;
}
@media (max-width: 767px) {
  .page-codinglist .main {
    margin-top: 100px;
  }
}
.page-codinglist .srch-bar {
  padding: 20px;
}
.page-codinglist .srch-bar .count {
  right: 0;
  bottom: 0;
  margin-top: 16px;
  color: #666;
}
.page-codinglist .srch-bar i {
  font-weight: 700;
  font-style: normal;
}
.page-codinglist .srch-bar .conti {
  color: #f78e16;
}
.page-codinglist .srch-bar .comp {
  color: #0d7feb;
}
.page-codinglist .tbl-base {
  margin-top: 20px;
  padding: 0 20px 20px 20px;
  overflow-y: scroll;
}
@media (max-width: 767px) {
  .page-codinglist .tbl-base {
    padding: 0;
  }
}
.page-codinglist .tbl-base table {
  border-collapse: collapse;
}
.page-codinglist .tbl-base thead {
  background: #333;
}
.page-codinglist .tbl-base thead th {
  height: 30px;
  color: #fff;
  text-align: center;
  border-right: 1px #999 solid;
}
.page-codinglist .tbl-base thead tr + tr > th {
  border-top: 1px #999 solid;
}
.page-codinglist .tbl-base tbody tr {
  background: #fff;
}
.page-codinglist .tbl-base tbody td {
  min-height: 30px;
  padding: 5px 10px;
  color: #aaa;
  text-align: center;
  border-right: 1px #dbdbdb solid;
  border-bottom: 1px #dbdbdb solid;
}
.page-codinglist .tbl-base thead th:last-child,
.page-codinglist .tbl-base tbody td:last-child {
  border-right: 0;
}
.page-codinglist .tbl-base thead tr:nth-child(2) th:last-child {
  border-right: 1px #999 solid;
}
.page-codinglist .tbl-base tr.ing {
  background: #fff5da;
}
.page-codinglist .tbl-base tr.ing > td {
  color: #212121;
}
.page-codinglist .tbl-base tr.ing > td:nth-child(2) {
  color: #f78e16;
}
.page-codinglist .tbl-base tr.complete {
  background: #def7ff;
}
.page-codinglist .tbl-base tr.complete > td {
  color: #212121;
}
.page-codinglist .tbl-base tr.complete > td:nth-child(2) {
  color: #1683ff;
}
.page-codinglist .tbl-base tr.hold {
  background: #f6f6f6;
}
.page-codinglist .tbl-base tr.hold > td {
  color: #ccc;
}
.page-codinglist .tbl-base tr.del {
  background: #f6f6f6;
  pointer-events: none;
}
.page-codinglist .tbl-base tr.del + tr.modify {
  background: #f6f6f6;
  pointer-events: none;
}
.page-codinglist .tbl-base tr.del > td {
  text-decoration: line-through;
  opacity: 0.5;
}
.page-codinglist .tbl-base tr.nothing {
  background: transparent;
}
.page-codinglist .tbl-base tr.nothing > td {
  height: 300px;
}
.page-codinglist .tbl-base tr.modify > td {
  color: #80001c;
  vertical-align: top;
  background: #ffe3f1;
}
.page-codinglist .tbl-base tr.modify > td:first-child {
  text-align: right;
}
.page-codinglist .tbl-base tr.del + tr.modify > td {
  color: #aaa;
  text-decoration: line-through;
  background: unset;
  opacity: 0.5;
}
.page-codinglist .tbl-base .txt-l {
  text-align: left;
}
.page-codinglist .tbl-base .strong {
  color: inherit;
  font-weight: 700;
}
.page-codinglist .tbl-base a {
  color: #1652f5;
  text-decoration: underline;
}
.page-codinglist .tbl-base a:hover {
  text-decoration: none;
}
.page-codinglist .tbl-base tr > td > span {
  color: inherit;
  opacity: 0.3;
}
.page-codinglist .tbl-base tr > td > span.last {
  opacity: 1;
}
.page-codinglist .tbl-base tr.del > td > span {
  color: #ccc !important;
}
.page-codinglist .btn-top {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 40px;
  height: 40px;
  background: #fff;
  border: 1px #bdbdbd solid;
  border-radius: 40px;
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}/*# sourceMappingURL=codingList.css.map */