/* START : settings.scss */
html {
  font-size: 62.5%;
}

body {
  color: #1a1a1a;
  font-weight: 400;
  font-size: 1.6rem;
  font-family: "SpoqaHanSansNeo", sans-serif;
  line-height: 1.5;
  letter-spacing: -0.5px;
  word-wrap: break-word;
  word-break: keep-all;
  background-color: white;
}

.button, .btn,
button,
input,
textarea,
select {
  transition: 0.3s ease-out;
}

input,
textarea,
select {
  background-color: #fff;
  border: 1px solid #f8f8f8;
}

input.input[data-form-state=normal] {
  border-color: #cccccc !important;
}
input.input[data-form-state=focus] {
  color: #1976d2;
  border-color: #1976d2 !important;
}
input.input[data-form-state=valid] {
  color: #388e3c;
  border-color: #388e3c !important;
}
input.input[data-form-state=invalid] {
  color: #d32f2f;
  border-color: #d32f2f !important;
}
input.input[class*=-full] {
  width: 100%;
}

fieldset.fieldset {
  width: 100%;
}

:root {
  font-size: 62.5%;
}

@media screen and (min-width: 320px) {
  .h1 {
    font-size: 1.3rem;
  }
}
@media screen and (min-width: 768px) {
  .h1 {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 993px) {
  .h1 {
    font-size: 2rem;
  }
}

@media screen and (min-width: 320px) {
  .h2 {
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 768px) {
  .h2 {
    font-size: 1.35rem;
  }
}
@media screen and (min-width: 993px) {
  .h2 {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 320px) {
  .h3 {
    font-size: 1.1rem;
  }
}
@media screen and (min-width: 768px) {
  .h3 {
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 993px) {
  .h3 {
    font-size: 1.3rem;
  }
}

@media screen and (min-width: 992px) {
  .h4 {
    font-size: 1rem;
  }
}
@media screen and (min-width: 993px) {
  .h4 {
    font-size: 1.17rem;
  }
}

@media screen and (min-width: 320px) {
  .h5 {
    font-size: 0.9rem;
  }
}

@media screen and (min-width: 320px) {
  .h6 {
    font-size: 0.8rem;
  }
}

.font-heading-1 {
  font: 300 1.6rem "LGSmHa", sans-serif;
  font-size: 3.6rem;
  font-weight: 900;
  font-weight: 900;
}

.font-heading-2 {
  font: 300 1.6rem "LGSmHa", sans-serif;
  font-size: 2.8rem;
  font-weight: 700;
  font-weight: 700;
}

.font-heading-3 {
  font: 300 1.6rem "LGSmHa", sans-serif;
  font-size: 2.5rem;
  font-weight: 500;
  font-weight: 500;
}

.font-heading-4 {
  font: 300 1.6rem "LGSmHa", sans-serif;
  font-size: 2rem;
  font-weight: 300;
  font-weight: 300;
}

.font-body-1-r {
  font: 300 1.6rem "SpoqaHanSansNeo", sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
}

.font-body-1-m {
  font: 300 1.6rem "SpoqaHanSansNeo", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
}

.font-body-1-b {
  font: 300 1.6rem "SpoqaHanSansNeo", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
}

.font-body-2-r {
  font: 300 1.6rem "SpoqaHanSansNeo", sans-serif;
  font-size: 1.4rem;
  font-weight: 300;
}

.font-body-2-b {
  font: 300 1.6rem "SpoqaHanSansNeo", sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
}

.font-body-3 {
  font: 300 1.6rem "SpoqaHanSansNeo", sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
}

.font-caption {
  font: 300 1.6rem "SpoqaHanSansNeo", sans-serif;
  font-size: 1.3rem;
  font-weight: 300;
}

@font-face {
  font-family: "SpoqaHanSansNeo";
  src: url("../../../../assets/fonts/SpoqaHanSansNeo-Bold.eot");
  src: local("SpoqaHanSansNeo"), local("SpoqaHanSansNeo"), local("SpoqaHanSansNeo"), url("../../../../assets/fonts/SpoqaHanSansNeo-Bold.eot?#iefix") format("embedded-opentype"), url("../../../../assets/fonts/SpoqaHanSansNeo-Bold.woff2") format("woff2"), url("../../../../assets/fonts/SpoqaHanSansNeo-Bold.woff") format("woff"), url("../../../../assets/fonts/SpoqaHanSansNeo-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 900;
}
@font-face {
  font-family: "SpoqaHanSansNeo";
  src: url("../../../../assets/fonts/SpoqaHanSansNeo-Medium.eot");
  src: local("SpoqaHanSansNeo"), local("SpoqaHanSansNeo"), local("SpoqaHanSansNeo"), url("../../../../assets/fonts/SpoqaHanSansNeo-Medium.eot?#iefix") format("embedded-opentype"), url("../../../../assets/fonts/SpoqaHanSansNeo-Medium.woff2") format("woff2"), url("../../../../assets/fonts/SpoqaHanSansNeo-Medium.woff") format("woff"), url("../../../../assets/fonts/SpoqaHanSansNeo-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "SpoqaHanSansNeo";
  src: url("../../../../assets/fonts/SpoqaHanSansNeo-Regular.eot");
  src: local("SpoqaHanSansNeo"), local("SpoqaHanSansNeo"), local("SpoqaHanSansNeo"), url("../../../../assets/fonts/SpoqaHanSansNeo-Regular.eot?#iefix") format("embedded-opentype"), url("../../../../assets/fonts/SpoqaHanSansNeo-Regular.woff2") format("woff2"), url("../../../../assets/fonts/SpoqaHanSansNeo-Regular.woff") format("woff"), url("../../../../assets/fonts/SpoqaHanSansNeo-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "SpoqaHanSansNeo";
  src: url("../../../../assets/fonts/SpoqaHanSansNeo-Light.eot");
  src: local("SpoqaHanSansNeo"), local("SpoqaHanSansNeo"), local("SpoqaHanSansNeo"), url("../../../../assets/fonts/SpoqaHanSansNeo-Light.eot?#iefix") format("embedded-opentype"), url("../../../../assets/fonts/SpoqaHanSansNeo-Light.woff2") format("woff2"), url("../../../../assets/fonts/SpoqaHanSansNeo-Light.woff") format("woff"), url("../../../../assets/fonts/SpoqaHanSansNeo-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "SpoqaHanSansNeo";
  src: url("../../../../assets/fonts/SpoqaHanSansNeo-Thin.eot");
  src: local("SpoqaHanSansNeo"), local("SpoqaHanSansNeo"), local("SpoqaHanSansNeo"), url("../../../../assets/fonts/SpoqaHanSansNeo-Thin.eot?#iefix") format("embedded-opentype"), url("../../../../assets/fonts/SpoqaHanSansNeo-Thin.woff2") format("woff2"), url("../../../../assets/fonts/SpoqaHanSansNeo-Thin.woff") format("woff"), url("../../../../assets/fonts/SpoqaHanSansNeo-Thin.ttf") format("truetype");
  font-style: normal;
  font-weight: 100;
}
@font-face {
  font-family: "LGSmHa";
  src: url("../../../../assets/fonts/LGSmHaB.eot");
  src: local("LGSmHa"), local("LGSmHa"), local("LGSmHa"), url("../../../../assets/fonts/LGSmHaB.eot?#iefix") format("embedded-opentype"), url("../../../../assets/fonts/LGSmHaB.woff2") format("woff2"), url("../../../../assets/fonts/LGSmHaB.woff") format("woff"), url("../../../../assets/fonts/LGSmHaB.ttf") format("truetype");
  font-style: normal;
  font-weight: 900;
}
@font-face {
  font-family: "LGSmHa";
  src: url("../../../../assets/fonts/LGSmHaSB.eot");
  src: local("LGSmHa"), local("LGSmHa"), local("LGSmHa"), url("../../../../assets/fonts/LGSmHaSB.eot?#iefix") format("embedded-opentype"), url("../../../../assets/fonts/LGSmHaSB.woff2") format("woff2"), url("../../../../assets/fonts/LGSmHaSB.woff") format("woff"), url("../../../../assets/fonts/LGSmHaSB.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "LGSmHa";
  src: url("../../../../assets/fonts/LGSmHaR.eot");
  src: local("LGSmHa"), local("LGSmHa"), local("LGSmHa"), url("../../../../assets/fonts/LGSmHaR.eot?#iefix") format("embedded-opentype"), url("../../../../assets/fonts/LGSmHaR.woff2") format("woff2"), url("../../../../assets/fonts/LGSmHaR.woff") format("woff"), url("../../../../assets/fonts/LGSmHaR.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "LGSmHa";
  src: url("../../../../assets/fonts/LGSmHaL.eot");
  src: local("LGSmHa"), local("LGSmHa"), local("LGSmHa"), url("../../../../assets/fonts/LGSmHaL.eot?#iefix") format("embedded-opentype"), url("../../../../assets/fonts/LGSmHaL.woff2") format("woff2"), url("../../../../assets/fonts/LGSmHaL.woff") format("woff"), url("../../../../assets/fonts/LGSmHaL.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}
.button, .btn {
  font: revert;
  min-height: 4rem;
  padding: 0.8rem 1.6rem;
  background-color: #574538;
  border: 1px solid #574538;
  box-shadow: revert;
  border-radius: 0.5rem;
}
.button:hover, .btn:hover, .button:focus, .btn:focus, .button:active, .btn:active {
  background-color: #47392e;
}
.button.disabled, .disabled.btn, .button[disabled], [disabled].btn {
  cursor: not-allowed;
  border: none;
}
.button.round, .round.btn, .button.round-reverse, .round-reverse.btn, .button[data-type=round], [data-type=round].btn, .button[data-type=round-reverse], [data-type=round-reverse].btn {
  border-radius: 50px !important;
}
.button.text, .text.btn, .button[data-type=text], [data-type=text].btn {
  border-color: transparent;
}
.button.outlined, .outlined.btn, .button[data-type=outlined], [data-type=outlined].btn {
  border-color: #e8e8e8;
  border-style: solid;
  border-width: 1px;
}
.button.outlined-reverse, .outlined-reverse.btn, .button[data-type=outlined-reverse], [data-type=outlined-reverse].btn {
  color: #fff;
  border-color: #fff;
  border-style: solid;
  border-width: 1px;
}
.button.text, .text.btn, .button.outlined, .outlined.btn, .button.round-reverse, .round-reverse.btn, .button[data-type=text], [data-type=text].btn, .button[data-type=outlined], [data-type=outlined].btn, .button[data-type=round-reverse], [data-type=round-reverse].btn {
  background-color: transparent;
}
.button.text:hover, .text.btn:hover, .button.text:focus, .text.btn:focus, .button.text:active, .text.btn:active, .button.outlined:hover, .outlined.btn:hover, .button.outlined:focus, .outlined.btn:focus, .button.outlined:active, .outlined.btn:active, .button.round-reverse:hover, .round-reverse.btn:hover, .button.round-reverse:focus, .round-reverse.btn:focus, .button.round-reverse:active, .round-reverse.btn:active, .button[data-type=text]:hover, [data-type=text].btn:hover, .button[data-type=text]:focus, [data-type=text].btn:focus, .button[data-type=text]:active, [data-type=text].btn:active, .button[data-type=outlined]:hover, [data-type=outlined].btn:hover, .button[data-type=outlined]:focus, [data-type=outlined].btn:focus, .button[data-type=outlined]:active, [data-type=outlined].btn:active, .button[data-type=round-reverse]:hover, [data-type=round-reverse].btn:hover, .button[data-type=round-reverse]:focus, [data-type=round-reverse].btn:focus, .button[data-type=round-reverse]:active, [data-type=round-reverse].btn:active {
  background-color: transparent;
}
.button.round-reverse, .round-reverse.btn, .button[data-type=round-reverse], [data-type=round-reverse].btn {
  border-color: #e8e8e8;
  border-style: solid;
  border-width: 1px;
}

.checkbox {
  position: relative;
  border-radius: 100%;
  min-height: 2rem;
  width: 2rem;
  border-color: #574538;
}
.checkbox:disabled {
  background-color: #e0e0e0;
  border-color: #e0e0e0;
}
.checkbox:checked::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 100%;
  width: 1rem;
  height: 1rem;
  background-color: #574538;
  transform: translate(-50%, -50%);
}
.checkbox.disabled, .checkbox[disabled] {
  cursor: not-allowed;
  background-color: #e0e0e0;
  border-color: #e0e0e0;
}

img.img {
  max-width: 100%;
  height: auto;
}

select.select {
  width: 100%;
  height: 40px;
  padding-right: 8px;
  padding-left: 8px;
  font-size: 0.875rem;
  font-family: inherit;
  background-color: #fff;
  border: 0.0625rem solid #cccccc;
  border-radius: 0.3125rem;
  outline: none;
}
select.select:focus {
  border-color: #1976d2;
}
select.select:disabled {
  background-color: #e0e0e0;
  cursor: not-allowed;
}

textarea.textarea {
  display: block;
  overflow: auto;
  resize: none;
  min-height: 4rem;
  padding: 0.8rem 1.6rem;
  font-size: 1.6rem;
  line-height: 1;
  background-color: #fff;
  border: 1px solid #1a1a1a;
  border-radius: 0.5rem;
  box-sizing: border-box;
  font-family: inherit;
  vertical-align: middle;
  outline: none;
}
textarea.textarea:focus {
  border-color: #1976d2;
}
textarea.textarea:-moz-read-only {
  background-color: initial;
  cursor: not-allowed;
}
textarea.textarea:read-only {
  background-color: initial;
  cursor: not-allowed;
}
textarea.textarea:-moz-read-only:hover, textarea.textarea:-moz-read-only:focus, textarea.textarea:-moz-read-only:active {
  border-color: unset;
}
textarea.textarea:read-only:hover, textarea.textarea:read-only:focus, textarea.textarea:read-only:active {
  border-color: unset;
}
textarea.textarea:disabled {
  background-color: #e0e0e0;
  cursor: not-allowed;
}

input.input {
  min-height: 4rem;
  padding: 0.8rem 1.6rem;
  font-size: 1.6rem;
  line-height: 1;
  background-color: #fff;
  border: 1px solid #1a1a1a;
  border-radius: 0.5rem;
  box-sizing: border-box;
  font-family: inherit;
  vertical-align: middle;
  outline: none;
}
input.input:focus {
  border-color: #1976d2;
}
input.input:-moz-read-only {
  background-color: initial;
  cursor: not-allowed;
}
input.input:read-only {
  background-color: initial;
  cursor: not-allowed;
}
input.input:-moz-read-only:hover, input.input:-moz-read-only:focus, input.input:-moz-read-only:active {
  border-color: unset;
}
input.input:read-only:hover, input.input:read-only:focus, input.input:read-only:active {
  border-color: unset;
}
input.input:disabled {
  background-color: #e0e0e0;
  cursor: not-allowed;
}

input.input-radio[type=radio] {
  position: relative;
  border-radius: 100%;
  min-height: 2rem;
  width: 2rem;
  border-color: #574538;
}
input.input-radio[type=radio]:disabled {
  background-color: #e0e0e0;
  border-color: #e0e0e0;
}
input.input-radio[type=radio]:checked::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 100%;
  width: 1rem;
  height: 1rem;
  background-color: #574538;
  transform: translate(-50%, -50%);
}

input.input-checkbox[type=checkbox] {
  position: relative;
  border-radius: 100%;
  min-height: 2rem;
  width: 2rem;
  border-color: #574538;
}
input.input-checkbox[type=checkbox]:disabled {
  background-color: #e0e0e0;
  border-color: #e0e0e0;
}
input.input-checkbox[type=checkbox]:checked::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 100%;
  width: 1rem;
  height: 1rem;
  background-color: #574538;
  transform: translate(-50%, -50%);
}

.input-checkbox-wrap,
.input-radio-wrap {
  display: flex;
  align-items: center;
}

html[data-theme=base] .header {
  background-color: #574538;
}
html[data-theme=base] .button, html[data-theme=base] .btn {
  padding: 0rem 0.75rem;
  border-color: #f8f8f8;
  border-radius: 0.625rem;
  border: initial;
}
html[data-theme=base] .button[disabled], html[data-theme=base] [disabled].btn {
  color: #c0aa5e;
  background-color: #e0e0e0;
}
html[data-theme=base] .button[data-type=contained], html[data-theme=base] [data-type=contained].btn {
  color: #EBE4CC;
  background-color: #574538;
  border-color: #574538;
}
html[data-theme=base] .button[data-type=outlined], html[data-theme=base] [data-type=outlined].btn {
  color: #574538;
  border-color: #574538;
}
html[data-theme=base] .button[data-type=round], html[data-theme=base] [data-type=round].btn {
  color: #EBE4CC;
  background-color: #574538;
  border-color: #574538;
}
html[data-theme=base] .button[data-type=round-reverse], html[data-theme=base] [data-type=round-reverse].btn {
  color: #574538;
  border-color: #574538;
}
html[data-theme=base] .button[data-type=outlined]:hover, html[data-theme=base] [data-type=outlined].btn:hover, html[data-theme=base] .button[data-type=outlined]:focus, html[data-theme=base] [data-type=outlined].btn:focus, html[data-theme=base] .button[data-type=outlined]:active, html[data-theme=base] [data-type=outlined].btn:active, html[data-theme=base] .button[data-type=round-reverse]:hover, html[data-theme=base] [data-type=round-reverse].btn:hover, html[data-theme=base] .button[data-type=round-reverse]:focus, html[data-theme=base] [data-type=round-reverse].btn:focus, html[data-theme=base] .button[data-type=round-reverse]:active, html[data-theme=base] [data-type=round-reverse].btn:active {
  color: #fff;
  background-color: #574538;
}
html[data-theme=base] .button[data-type=contained]:hover, html[data-theme=base] [data-type=contained].btn:hover, html[data-theme=base] .button[data-type=contained]:focus, html[data-theme=base] [data-type=contained].btn:focus, html[data-theme=base] .button[data-type=contained]:active, html[data-theme=base] [data-type=contained].btn:active, html[data-theme=base] .button[data-type=round]:hover, html[data-theme=base] [data-type=round].btn:hover, html[data-theme=base] .button[data-type=round]:focus, html[data-theme=base] [data-type=round].btn:focus, html[data-theme=base] .button[data-type=round]:active, html[data-theme=base] [data-type=round].btn:active {
  background-color: #382c24;
}

html[data-theme=atom] .header {
  background-color: #673ab7;
}
html[data-theme=atom] .button, html[data-theme=atom] .btn {
  padding: 0.375rem 0.625rem;
  border-color: #f8f8f8;
  border-radius: 0;
  border: initial;
}
html[data-theme=atom] .button[disabled], html[data-theme=atom] [disabled].btn {
  color: #b3b3b3;
  background-color: #e0e0e0;
}
html[data-theme=atom] .button[data-type=contained], html[data-theme=atom] [data-type=contained].btn {
  color: #fff;
  background-color: #673ab7;
  border-color: #673ab7;
}
html[data-theme=atom] .button[data-type=outlined], html[data-theme=atom] [data-type=outlined].btn {
  color: #673ab7;
  border-color: #673ab7;
}
html[data-theme=atom] .button[data-type=round], html[data-theme=atom] [data-type=round].btn {
  color: #fff;
  background-color: #673ab7;
  border-color: #673ab7;
}
html[data-theme=atom] .button[data-type=round-reverse], html[data-theme=atom] [data-type=round-reverse].btn {
  color: #673ab7;
  border-color: #673ab7;
}
html[data-theme=atom] .button[data-type=outlined]:hover, html[data-theme=atom] [data-type=outlined].btn:hover, html[data-theme=atom] .button[data-type=outlined]:focus, html[data-theme=atom] [data-type=outlined].btn:focus, html[data-theme=atom] .button[data-type=outlined]:active, html[data-theme=atom] [data-type=outlined].btn:active, html[data-theme=atom] .button[data-type=round-reverse]:hover, html[data-theme=atom] [data-type=round-reverse].btn:hover, html[data-theme=atom] .button[data-type=round-reverse]:focus, html[data-theme=atom] [data-type=round-reverse].btn:focus, html[data-theme=atom] .button[data-type=round-reverse]:active, html[data-theme=atom] [data-type=round-reverse].btn:active {
  color: #fff;
  background-color: #673ab7;
}
html[data-theme=atom] .button[data-type=contained]:hover, html[data-theme=atom] [data-type=contained].btn:hover, html[data-theme=atom] .button[data-type=contained]:focus, html[data-theme=atom] [data-type=contained].btn:focus, html[data-theme=atom] .button[data-type=contained]:active, html[data-theme=atom] [data-type=contained].btn:active, html[data-theme=atom] .button[data-type=round]:hover, html[data-theme=atom] [data-type=round].btn:hover, html[data-theme=atom] .button[data-type=round]:focus, html[data-theme=atom] [data-type=round].btn:focus, html[data-theme=atom] .button[data-type=round]:active, html[data-theme=atom] [data-type=round].btn:active {
  background-color: #512e90;
}

@custom-selector :--heading h1, h2, h3, h4, h5, h6;
@custom-media --bp-max-xs (568px >= width);
@custom-media --bp-max-sm (767px >= width);
@custom-media --bp-max-md (992px >= width);
@custom-media --bp-max-lg (1200px >= width);
@custom-media --bp-max-xl (1366px >= width);
@custom-media --bp-max-2xl (1440px >= width);
@custom-media --bp-max-3xl (1920px >= width);
@custom-media --bp-min-xs (0px <= width);
@custom-media --bp-min-sm (569px <= width);
@custom-media --bp-min-md (768px <= width);
@custom-media --bp-min-lg (993px <= width);
@custom-media --bp-min-xl (1201px <= width);
@custom-media --bp-min-2xl (1367px <= width);
@custom-media --bp-min-3xl (1441px <= width);
@custom-media --bp-only-xs (0px <= width <= 568px);
@custom-media --bp-only-sm (569px <= width <= 767px);
@custom-media --bp-only-md (768px <= width <= 992px);
@custom-media --bp-only-lg (993px <= width <= 1200px);
@custom-media --bp-only-xl (1201px <= width <= 1366px);
@custom-media --bp-only-2xl (1367px <= width <= 1440px);
@custom-media --bp-only-3xl (1441px <= width <= 1920px);
/* END : settings.scss *//*# sourceMappingURL=settings.css.map */